[Unit]
Description="Rail Horizon Start service"

[Service]
EnvironmentFile=/etc/environment
Environment="HOME=/root"
ExecStart=/bin/bash -c "/opt/rail-horizon-oss/scripts/runRH.sh"
WorkingDirectory=/opt/rail-horizon-oss

[Install]
WantedBy=multi-user.target